<div *ngIf="isDesktopView" class="calculator">
  <form #myForm="ngForm" (ngSubmit)="ageCal(myForm)">
    <div class="date-picker">
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyDay && submit ? 'hsl(0, 100%, 67%)' : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          DAY
        </span>
        <input
          type="number"
          name="day"
          placeholder="DD"
          [(ngModel)]="day"
          class="form-control"
          [ngStyle]="{
            border: emptyDay || errorDay ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          required
          min="0"
        />
        <span class="error-msg" *ngIf="emptyDay && submit"
          >This field is required</span
        >
        <span class="error-msg" *ngIf="errorDay">Must be a valid day</span>
      </div>
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyMonth && submit
                ? 'hsl(0, 100%, 67%)'
                : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          MONTH
        </span>
        <input
          type="number"
          name="month"
          placeholder="MM"
          [(ngModel)]="month"
          class="form-control"
          [ngStyle]="{
            border:
              emptyMonth || errorMonth ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          required
          min="0"
        />
        <span class="error-msg" *ngIf="emptyMonth && submit"
          >This field is required</span
        >
        <span class="error-msg" *ngIf="errorMonth">Must be a valid month</span>
      </div>
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyYear && submit ? 'hsl(0, 100%, 67%)' : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          YEAR
        </span>
        <input
          type="number"
          name="year"
          placeholder="YYYY"
          [(ngModel)]="year"
          [ngStyle]="{
            border: emptyYear || errorYear ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          class="form-control"
          required
          min="0"
        />
        <span class="error-msg" *ngIf="emptyYear && submit"
          >This field is required</span
        >
        <span class="error-msg" *ngIf="errorYear">Must be a valid year</span>
      </div>
    </div>
    <div class="button-line">
      <hr />
      <button class="desk-button" type="submit">
        <img src="../assets/icon-arrow.svg" alt="down arrow" />
      </button>
    </div>
  </form>
  <div class="age">
    <div class="result">
      <i class="result-numeric">{{ showYear }}</i>
      <i class="left">years</i>
    </div>
    <div class="result">
      <i class="result-numeric">{{ showMonth }}</i>
      <i class="left">months</i>
    </div>
    <div class="result">
      <i class="result-numeric">{{ showDay }}</i>
      <i class="left">days</i>
    </div>
  </div>
</div>
<div *ngIf="!isDesktopView" class="mob-calculator">
  <form #myForm="ngForm" (ngSubmit)="ageCal(myForm)">
    <div class="mob-date-picker">
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyDay && submit ? 'hsl(0, 100%, 67%)' : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          DAY
        </span>
        <input
          type="number"
          name="day"
          placeholder="DD"
          [(ngModel)]="day"
          class="form-control"
          [ngStyle]="{
            border: emptyDay || errorDay ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          required
          min="0"
        />
        <span class="mob-error-msg" *ngIf="emptyDay && submit"
          >This field is required</span
        >
        <span class="mob-error-msg" *ngIf="errorDay">Must be a valid day</span>
      </div>
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyMonth && submit
                ? 'hsl(0, 100%, 67%)'
                : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          MONTH
        </span>
        <input
          type="number"
          name="month"
          placeholder="MM"
          [(ngModel)]="month"
          class="form-control"
          [ngStyle]="{
            border:
              emptyMonth || errorMonth ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          required
          min="0"
        />
        <span class="mob-error-msg" *ngIf="emptyMonth && submit"
          >This field is required</span
        >
        <span class="mob-error-msg" *ngIf="errorMonth"
          >Must be a valid month</span
        >
      </div>
      <div class="form-group">
        <span
          [ngStyle]="{
            color:
              emptyYear && submit ? 'hsl(0, 100%, 67%)' : 'hsl(0, 1%, 44%, 0.8)'
          }"
        >
          YEAR
        </span>
        <input
          type="number"
          name="year"
          placeholder="YYYY"
          [(ngModel)]="year"
          [ngStyle]="{
            border: emptyYear || errorYear ? '1px solid hsl(0, 100%, 67%)' : ''
          }"
          class="form-control"
          required
          min="0"
        />
        <span class="mob-error-msg" *ngIf="emptyYear && submit"
          >This field is required</span
        >
        <span class="mob-error-msg" *ngIf="errorYear"
          >Must be a valid year</span
        >
      </div>
    </div>
    <div class="mob-button-line">
      <hr />
      <button class="mob-button" type="submit">
        <img src="../assets/icon-arrow.svg" alt="down arrow" />
      </button>
    </div>
  </form>
  <div class="mob-age">
    <div class="result">
      <i class="result-numeric">{{ showYear }}</i>
      <i class="left">years</i>
    </div>
    <div class="result">
      <i class="result-numeric">{{ showMonth }}</i>
      <i class="left">months</i>
    </div>
    <div class="result">
      <i class="result-numeric">{{ showDay }}</i>
      <i class="left">days</i>
    </div>
  </div>
</div>
